@media only screen and (max-width: 960px) {
  .about-section {
    flex-wrap: wrap;

    .content-wrap,
    .image-wrap {
      width: 100%;
    }
    .content-wrap { order: 2; }
    .image-wrap   {
      order: 1;
      height: 333px;
      background-position: center right;}
  }
}
